In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.express as px 
import warnings
import os
from six.moves import urllib
warnings.filterwarnings("ignore")

%matplotlib inline

In [5]:
download_dir = "./data/"

download_url="https://raw.githubusercontent.com/aravind-selvam/datasets-for-ML-projects/main/cardekho_dataset.csv"

os.makedirs(download_dir,exist_ok=True)

filename = os.path.basename(download_url)

download_file_path = os.path.join (download_dir, filename)

urllib.request.urlretrieve(download_url, download_file_path)

df = pd.read_csv(download_file_path, index_col=[0])

URLError: <urlopen error [Errno 61] Connection refused>

In [2]:
df=pd.read_csv('./data/cardekho_dataset.csv')

In [3]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [4]:
df['fuel_type'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [5]:
df.shape

(15411, 14)

In [6]:
df=df.drop('Unnamed: 0',axis=1)

In [7]:
features=df.columns

In [8]:
df['car_name']

0            Maruti Alto
1          Hyundai Grand
2            Hyundai i20
3            Maruti Alto
4          Ford Ecosport
              ...
15406        Hyundai i10
15407      Maruti Ertiga
15408        Skoda Rapid
15409    Mahindra XUV500
15410         Honda City
Name: car_name, Length: 15411, dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15411 entries, 0 to 15410
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           15411 non-null  object
 1   brand              15411 non-null  object
 2   model              15411 non-null  object
 3   vehicle_age        15411 non-null  int64
 4   km_driven          15411 non-null  int64
 5   seller_type        15411 non-null  object
 6   fuel_type          15411 non-null  object
 7   transmission_type  15411 non-null  object
 8   mileage            15411 non-null  float64
 9   engine             15411 non-null  int64
 10  max_power          15411 non-null  float64
 11  seats              15411 non-null  int64
 12  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(6)
memory usage: 1.5+ MB

In [10]:
features

Index(['car_name', 'brand', 'model', 'vehicle_age', 'km_driven', 'seller_type',
       'fuel_type', 'transmission_type', 'mileage', 'engine', 'max_power',
       'seats', 'selling_price'],
      dtype='object')

In [11]:
numerical_features=[feature for feature in features if df[feature].dtype!='O']
categorical_features=[feature for feature in features if df[feature].dtype=='O']

In [12]:
len(numerical_features)

7

In [13]:
len(categorical_features)

6

In [14]:
for feature in features:
    print(df[feature].value_counts(normalize=True)*100)

car_name
Hyundai i20           5.878918
Maruti Swift Dzire    5.775096
Maruti Swift          5.067809
Maruti Alto           5.048342
Honda City            4.912076
                        ...
Mercedes-AMG C        0.006489
Tata Altroz           0.006489
Ferrari GTC4Lusso     0.006489
Hyundai Aura          0.006489
Force Gurkha          0.006489
Name: proportion, Length: 121, dtype: float64
brand
Maruti           32.392447
Hyundai          19.349815
Honda             9.635974
Mahindra          6.560249
Toyota            5.145675
Ford              5.126209
Volkswagen        4.023100
Renault           3.478035
BMW               2.848615
Tata              2.790215
Mercedes-Benz     2.186750
Skoda             2.167283
Audi              1.245863
Datsun            1.103108
Jaguar            0.382843
Land Rover        0.330932
Jeep              0.266044
Kia               0.207644
Porsche           0.136266
Volvo             0.129777
MG                0.123289
Mini              0.110311
Nissan            0.071378
Lexus             0.064889
Isuzu             0.051911
Bentley           0.019467
Maserati          0.012978
ISUZU             0.012978
Ferrari           0.006489
Mercedes-AMG      0.006489
Rolls-Royce       0.006489
Force             0.006489
Name: proportion, dtype: float64
model
i20            5.878918
Swift Dzire    5.775096
Swift          5.067809
Alto           5.048342
City           4.912076
                 ...
Ghibli         0.006489
Altroz         0.006489
GTC4Lusso      0.006489
Aura           0.006489
Gurkha         0.006489
Name: proportion, Length: 120, dtype: float64
vehicle_age
4     14.612939
5     13.736941
3     12.497567
6     12.484589
7      9.330997
8      8.318733
2      7.429758
9      6.664071
10     4.607099
11     3.575368
12     1.901239
13     1.537863
1      1.434041
14     0.837064
15     0.583998
16     0.162222
17     0.110311
18     0.071378
19     0.032444
0      0.032444
21     0.019467
29     0.006489
22     0.006489
25     0.006489
Name: proportion, dtype: float64
km_driven
50000      3.588346
40000      3.095192
70000      3.023814
60000      2.913503
30000      2.355460
             ...
64705      0.006489
51930      0.006489
5200       0.006489
36977      0.006489
3800000    0.006489
Name: proportion, Length: 3688, dtype: float64
seller_type
Dealer              61.897346
Individual          36.980079
Trustmark Dealer     1.122575
Name: proportion, dtype: float64
fuel_type
Petrol      49.594446
Diesel      48.140938
CNG          1.953150
LPG          0.285510
Electric     0.025955
Name: proportion, dtype: float64
transmission_type
Manual       79.326455
Automatic    20.673545
Name: proportion, dtype: float64
mileage
18.90    4.100967
18.60    2.621504
17.00    2.199727
24.30    1.894751
28.40    1.810395
           ...
7.94     0.006489
10.60    0.006489
12.39    0.006489
6.00     0.006489
13.53    0.006489
Name: proportion, Length: 411, dtype: float64
engine
1197    15.806891
1248    10.823438
998      7.617935
1498     7.105314
2179     4.341055
          ...
3598     0.006489
3628     0.006489
1330     0.006489
3855     0.006489
4163     0.006489
Name: proportion, Length: 110, dtype: float64
max_power
74.00     5.132697
88.50     3.821945
81.80     3.529946
98.60     2.751282
67.04     2.530660
            ...
450.00    0.006489
258.81    0.006489
459.00    0.006489
151.89    0.006489
177.01    0.006489
Name: proportion, Length: 342, dtype: float64
seats
5    83.771332
7    12.471611
8     2.018039
6     0.824087
4     0.499643
9     0.356888
2     0.045422
0     0.012978
Name: proportion, dtype: float64
selling_price
450000     2.316527
550000     2.167283
650000     2.141328
350000     2.076439
500000     1.758484
             ...
117000     0.006489
1064000    0.006489
1472000    0.006489
326000     0.006489
456000     0.006489
Name: proportion, Length: 1086, dtype: float64

In [15]:
len(df['model'].unique())

120

In [16]:
df[list(numerical_features)].corr()

,vehicle_age,km_driven,mileage,engine,max_power,seats,selling_price
vehicle_age,1.000000,0.333891,-0.257394,0.098965,0.005208,0.030791,-0.241851
km_driven,0.333891,1.000000,-0.105239,0.192885,0.044421,0.192830,-0.080030
mileage,-0.257394,-0.105239,1.000000,-0.632987,-0.533128,-0.440280,-0.305549
engine,0.098965,0.192885,-0.632987,1.000000,0.807368,0.551236,0.585844
max_power,0.005208,0.044421,-0.533128,0.807368,1.000000,0.172257,0.750236
seats,0.030791,0.192830,-0.440280,0.551236,0.172257,1.000000,0.115033
selling_price,-0.241851,-0.080030,-0.305549,0.585844,0.750236,0.115033,1.000000

In [17]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [18]:
df.duplicated().sum()

167

In [19]:
df.drop(['brand','model'], axis=1, inplace=True)

In [20]:
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
print('Num of Numerical Features :', len(num_features))

Num of Numerical Features : 7

In [21]:
cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print('Num of Categorical Features :', len(cat_features))

Num of Categorical Features : 4

In [22]:
discrete_features=[feature for feature in num_features if len(df[feature].unique())<=25]
print('Num of Discrete Features :',len(discrete_features))

Num of Discrete Features : 2

In [23]:
discrete_features

['vehicle_age', 'seats']

In [24]:
continuous_features=[feature for feature in num_features if feature not in discrete_features]
print('Num of Continuous Features :',len(continuous_features))

Num of Continuous Features : 5

In [25]:
continuous_features

['km_driven', 'mileage', 'engine', 'max_power', 'selling_price']

In [26]:
import statsmodels.api as sm
num_features = df.select_dtypes(exclude="object").columns
for i in range(0, len(num_features)-1):
    x = df.loc[:, df.columns == num_features[i]]
    y = df.selling_price
    model = sm.OLS(x,y)
    results = model.fit()
    rsq = results.rsquared
    vif = round(1 / (1 - rsq), 2)
    print(
        "Variance Inflation Factor of {} column is {} \n".format(
            num_features[i], vif)
        )

Variance Inflation Factor of vehicle_age column is 1.34

Variance Inflation Factor of km_driven column is 1.24

Variance Inflation Factor of mileage column is 1.54

Variance Inflation Factor of engine column is 2.41

Variance Inflation Factor of max_power column is 3.13

Variance Inflation Factor of seats column is 1.77

In [27]:
import statsmodels.api as sm
num_features = df.select_dtypes(exclude="object").columns
for i in range(0, len(num_features)-1):
    x = df.loc[:, df.columns == num_features[i]]
    y = df.selling_price
    model = sm.OLS(x,y)
    results = model.fit()
    rsq = results.rsquared
    vif = round(1 / (1 - rsq), 2)
    print(
        "Variance Inflation Factor of {} column is {} \n".format(
            num_features[i], vif)
        )

Variance Inflation Factor of vehicle_age column is 1.34

Variance Inflation Factor of km_driven column is 1.24

Variance Inflation Factor of mileage column is 1.54

Variance Inflation Factor of engine column is 2.41

Variance Inflation Factor of max_power column is 3.13

Variance Inflation Factor of seats column is 1.77

In [28]:
from sklearn.model_selection import train_test_split
X = df.drop(['selling_price'], axis=1)
y = df['selling_price']

In [29]:
# Create Column Transformer with 3 types of transformers
num_features = X.select_dtypes(exclude="object").columns
onehot_columns = ['seller_type','fuel_type','transmission_type']
binary_columns = ['car_name']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from category_encoders.binary import BinaryEncoder
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()
binary_transformer = BinaryEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, onehot_columns),
         ("StandardScaler", numeric_transformer, num_features),
        ("BinaryEncoder", binary_transformer, binary_columns)
        
    ]
)

In [30]:
X

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Hyundai Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,Hyundai i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Maruti Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ford Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
15406,Hyundai i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
15407,Maruti Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
15408,Skoda Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
15409,Mahindra XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
15410,Honda City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [33]:
X= preprocessor.fit_transform(X)

ValueError: Specifying the columns using strings is only supported for pandas DataFrames

In [41]:
X[4][0]

1.0

In [37]:
X[0]

array([ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
        0.00000000e+00,  1.00000000e+00,  9.83561835e-01,  1.24733473e+00,
       -2.75974621e-04, -1.32425883e+00, -1.26335238e+00, -4.03022414e-01,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  1.00000000e+00])

In [137]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((12328, 23), (3083, 23))

In [138]:
X

array([[0., 1., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 1., 1.],
       ...,
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 1., 1.]])

In [139]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor

In [140]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [141]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 549346.4202
- Mean Absolute Error: 262517.2881
- R2 Score: 0.6279
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 500164.6549
- Mean Absolute Error: 274112.1904
- R2 Score: 0.6677
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 549297.5223
- Mean Absolute Error: 262165.3695
- R2 Score: 0.6280
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 500170.1925
- Mean Absolute Error: 273521.5945
- R2 Score: 0.6677
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 549297.9470
- Mean Absolute Error: 262131.9763
- R2 Score: 0.6280
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 500162.3085
- Mean Absolute Error: 273486.6959
- R2 Score: 0.6677
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 320752.4435
- Mean Absolute Error: 87776.5899
- R2 Score: 0.8731
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 258899.2840
- Mean Absolute Error: 110373.0538
- R2 Score: 0.9110
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 20797.2352
- Mean Absolute Error: 5164.8199
- R2 Score: 0.9995
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 326056.4273
- Mean Absolute Error: 127743.9102
- R2 Score: 0.8588
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 127502.3611
- Mean Absolute Error: 39519.3782
- R2 Score: 0.9800
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 233437.9267
- Mean Absolute Error: 101854.7484
- R2 Score: 0.9276
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 86274.5899
- Mean Absolute Error: 60874.0232
- R2 Score: 0.9908
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 343516.2449
- Mean Absolute Error: 100438.2859
- R2 Score: 0.8432
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 114215.9646
- Mean Absolute Error: 75336.1448
- R2 Score: 0.9839
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 191403.7466
- Mean Absolute Error: 93817.9312
- R2 Score: 0.9513
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 431134.0145
- Mean Absolute Error: 305144.4720
- R2 Score: 0.7708
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 515271.7915
- Mean Absolute Error: 330413.0485
- R2 Score: 0.6473
===================================

In [142]:

pd.DataFrame(list(zip(model_list, r2_list*100)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False)

                Model Name  R2_Score
7    CatBoosting Regressor  0.951333
5  Random Forest Regressor  0.927611
3    K-Neighbors Regressor  0.910958
4            Decision Tree  0.858773
6             XGBRegressor  0.843244
2                    Ridge  0.667683
0        Linear Regression  0.667680
1                    Lasso  0.667672
8       AdaBoost Regressor  0.647301

In [143]:
model1=DecisionTreeRegressor()
model2=XGBRegressor()
model3=KNeighborsRegressor()

In [144]:
model1.fit(X_train, y_train)
model2.fit(X_train, y_train)
model3.fit(X_train, y_train)

KNeighborsRegressor()

In [145]:
y_pred1=model1.predict(X_test)
y_pred2=model2.predict(X_test)
y_pred3=model3.predict(X_test)

In [146]:
y_pp=(y_pred1+y_pred2+y_pred3)

In [147]:
y_pp=y_pp/3

In [148]:
model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_pp)

In [149]:
print('Model performance for Test set')
print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
print("- R2 Score: {:.4f}".format(model_test_r2))

Model performance for Test set
- Root Mean Squared Error: 225364.6458
- Mean Absolute Error: 97919.1405
- R2 Score: 0.9325