In [71]:
#brand and name , age ,km_driven,seller_type(ind/dealer),fuel_type(petrol/d/cng),transmission_type(man/amt),mileage
#engine, max_power,seats    ##selling price
x=['Maruti Alto',9,70000,"indivisual","Petrol","Manual",19.2,1197,82.00,5]

#array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'])

data = {
    'car_name': 'Maruti Alto',
        'vehicle_age': 9,
        'km_driven':3400,
        'seller_type':'Individual',
        'fuel_type':'Petrol',
        'transmission_type':'Manual',
        'mileage':19.8,
        'engine':796,
        'max_power':46.3,
        'seats':5
       }

In [102]:
X['fuel_type'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [72]:
import pandas as pd

In [73]:
df = pd.DataFrame(data, index=[0])

In [93]:
df.columns

Index(['car_name', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type',
       'transmission_type', 'mileage', 'engine', 'max_power', 'seats'],
      dtype='object')

In [46]:
x=df.values

In [47]:
x

array([['Maruti Alto', 9, 3400, 'Indivisual', 'Petrol', 'Manual', 19.8,
        1997, 340.3, 5]], dtype=object)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           1 non-null      object
 1   age                1 non-null      int64
 2   km_driven          1 non-null      int64
 3   seller_type        1 non-null      object
 4   fuel_type          1 non-null      object
 5   transmission_type  1 non-null      object
 6   mileage            1 non-null      float64
 7   engine             1 non-null      int64
 8   max_power          1 non-null      float64
 9   seats              1 non-null      int64
dtypes: float64(2), int64(4), object(4)
memory usage: 88.0+ bytes

In [18]:
X=df

In [19]:
num_features = X.select_dtypes(exclude="object").columns
onehot_columns = ['seller_type','fuel_type','transmission_type']
binary_columns = ['car_name']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from category_encoders.binary import BinaryEncoder
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()
binary_transformer = BinaryEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, onehot_columns),
         ("StandardScaler", numeric_transformer, num_features),
        ("BinaryEncoder", binary_transformer, binary_columns)
        
    ]
)

In [20]:
X=preprocessor.fit_transform(X)

In [23]:
len(X[0])

10

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.express as px 
import warnings
import os
from six.moves import urllib
warnings.filterwarnings("ignore")

%matplotlib inline

In [2]:
df=pd.read_csv('./data/cardekho_dataset.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15411 entries, 0 to 15410
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         15411 non-null  int64
 1   car_name           15411 non-null  object
 2   brand              15411 non-null  object
 3   model              15411 non-null  object
 4   vehicle_age        15411 non-null  int64
 5   km_driven          15411 non-null  int64
 6   seller_type        15411 non-null  object
 7   fuel_type          15411 non-null  object
 8   transmission_type  15411 non-null  object
 9   mileage            15411 non-null  float64
 10  engine             15411 non-null  int64
 11  max_power          15411 non-null  float64
 12  seats              15411 non-null  int64
 13  selling_price      15411 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 1.6+ MB

In [4]:
df.drop(['brand','model','Unnamed: 0'], axis=1, inplace=True)

In [5]:
df.head()

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [6]:
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
print('Num of Numerical Features :', len(num_features))

cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print('Num of Categorical Features :', len(cat_features))

discrete_features=[feature for feature in num_features if len(df[feature].unique())<=25]
print('Num of Discrete Features :',len(discrete_features))

continuous_features=[feature for feature in num_features if feature not in discrete_features]
print('Num of Continuous Features :',len(continuous_features))

Num of Numerical Features : 7
Num of Categorical Features : 4
Num of Discrete Features : 2
Num of Continuous Features : 5

In [7]:
from sklearn.model_selection import train_test_split
X = df.drop(['selling_price'], axis=1)
y = df['selling_price']

In [8]:
num_features = X.select_dtypes(exclude="object").columns
onehot_columns = ['seller_type','fuel_type','transmission_type']
binary_columns = ['car_name']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from category_encoders.binary import BinaryEncoder
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()
binary_transformer = BinaryEncoder()

In [10]:
from sklearn.pipeline import Pipeline

In [12]:
from sklearn import set_config
set_config(display="diagram")

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [29]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor

In [33]:
preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, onehot_columns),
         ("StandardScaler", numeric_transformer, num_features),
        ("BinaryEncoder", binary_transformer, binary_columns)
        
    ]
)

In [38]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [40]:
model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

In [76]:
pipe0 = Pipeline(steps=[('preprocessor', preprocessor),
                      ("Decision Tree", DecisionTreeRegressor())])

In [77]:
pipe1 = Pipeline(steps=[('preprocessor', preprocessor),
                      ("XGBRegressor", XGBRegressor())])

In [78]:
pipe2 = Pipeline(steps=[('preprocessor', preprocessor),
                      ("KNeighbors Regressor", KNeighborsRegressor())])

In [79]:
pipe0.fit(X_train,y_train)
pipe1.fit(X_train,y_train)
pipe2.fit(X_train,y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('OneHotEncoder',
                                                  OneHotEncoder(),
                                                  ['seller_type', 'fuel_type',
                                                   'transmission_type']),
                                                 ('StandardScaler',
                                                  StandardScaler(),
                                                  Index(['vehicle_age', 'km_driven', 'mileage', 'engine', 'max_power', 'seats'], dtype='object')),
                                                 ('BinaryEncoder',
                                                  BinaryEncoder(),
                                                  ['car_name'])])),
                ('KNeighbors Regressor', KNeighborsRegressor())])

In [82]:
pred0=pipe0.predict(X_test)
pred1=pipe1.predict(X_test)
pred2=pipe2.predict(X_test)
pred=pred0+pred1+pred2
pred=pred/3

In [92]:
model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, pred)
print('Model performance for Test set')
print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
print("- R2 Score: {:.4f}".format(model_test_r2))

Model performance for Test set
- Root Mean Squared Error: 210920.9877
- Mean Absolute Error: 96263.7429
- R2 Score: 0.9409

In [89]:
from joblib import dump,load

# Save the model as a pickle file
dump(pipe0, 'pipe0.joblib')
dump(pipe1, 'pipe1.joblib')
dump(pipe2, 'pipe2.joblib')

['pipe2.joblib']

In [90]:

# Load the model from the file
clf0 = load('pipe0.joblib')
clf1= load('pipe1.joblib')
clf2= load('pipe2.joblib')

In [91]:
pred0=clf0.predict(X_test)
pred1=clf1.predict(X_test)
pred2=clf2.predict(X_test)
pred=pred0+pred1+pred2
pred=pred/3

In [95]:
len(X['car_name'].unique())

121

In [96]:
X['car_name'].unique()

array(['Maruti Alto', 'Hyundai Grand', 'Hyundai i20', 'Ford Ecosport',
       'Maruti Wagon R', 'Hyundai i10', 'Hyundai Venue', 'Maruti Swift',
       'Hyundai Verna', 'Renault Duster', 'Mini Cooper', 'Maruti Ciaz',
       'Mercedes-Benz C-Class', 'Toyota Innova', 'Maruti Baleno',
       'Maruti Swift Dzire', 'Volkswagen Vento', 'Hyundai Creta',
       'Honda City', 'Mahindra Bolero', 'Toyota Fortuner', 'Renault KWID',
       'Honda Amaze', 'Hyundai Santro', 'Mahindra XUV500',
       'Mahindra KUV100', 'Maruti Ignis', 'Datsun RediGO',
       'Mahindra Scorpio', 'Mahindra Marazzo', 'Ford Aspire', 'Ford Figo',
       'Maruti Vitara', 'Tata Tiago', 'Volkswagen Polo', 'Kia Seltos',
       'Maruti Celerio', 'Datsun GO', 'BMW 5', 'Honda CR-V',
       'Ford Endeavour', 'Mahindra KUV', 'Honda Jazz', 'BMW 3', 'Audi A4',
       'Tata Tigor', 'Maruti Ertiga', 'Tata Safari', 'Mahindra Thar',
       'Tata Hexa', 'Land Rover Rover', 'Maruti Eeco', 'Audi A6',
       'Mercedes-Benz E-Class', 'Audi Q7', 'BMW Z4', 'BMW 6', 'Jaguar XF',
       'BMW X5', 'MG Hector', 'Honda Civic', 'Isuzu D-Max',
       'Porsche Cayenne', 'BMW X1', 'Skoda Rapid', 'Ford Freestyle',
       'Skoda Superb', 'Tata Nexon', 'Mahindra XUV300',
       'Maruti Dzire VXI', 'Volvo S90', 'Honda WR-V', 'Maruti XL6',
       'Renault Triber', 'Lexus ES', 'Jeep Wrangler', 'Toyota Camry',
       'Hyundai Elantra', 'Toyota Yaris', 'Mercedes-Benz GL-Class',
       'BMW 7', 'Maruti S-Presso', 'Maruti Dzire LXI', 'Hyundai Aura',
       'Volvo XC', 'Maserati Ghibli', 'Bentley Continental', 'Honda CR',
       'Nissan Kicks', 'Mercedes-Benz S-Class', 'Hyundai Tucson',
       'Tata Harrier', 'BMW X3', 'Skoda Octavia', 'Jeep Compass',
       'Mercedes-Benz CLS', 'Datsun redi-GO', 'Toyota Glanza',
       'Porsche Macan', 'BMW X4', 'Maruti Dzire ZXI', 'Volvo XC90',
       'Jaguar F-PACE', 'Audi A8', 'ISUZU MUX', 'Ferrari GTC4Lusso',
       'Mercedes-Benz GLS', 'Nissan X-Trail', 'Jaguar XE', 'Volvo XC60',
       'Porsche Panamera', 'Mahindra Alturas', 'Tata Altroz', 'Lexus NX',
       'Kia Carnival', 'Mercedes-AMG C', 'Lexus RX', 'Rolls-Royce Ghost',
       'Maserati Quattroporte', 'Isuzu MUX', 'Force Gurkha'], dtype=object)

In [103]:
clf0.predict(df)

array([140000.])

In [104]:
col=['car_name', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type','transmission_type', 'mileage', 'engine', 'max_power', 'seats']

In [106]:
values=["Maruti Alto",5,5,"Individual","Petrol","Automatic",5,5,5,5]

In [108]:
data = dict(zip(col, values))

X_test = pd.DataFrame(data, index=[0])
pred0=clf0.predict(X_test)
pred1=clf1.predict(X_test)
pred2=clf2.predict(X_test)
pred=pred0+pred1+pred2
pred=pred/3

In [112]:
int(pred)

318436

In [113]:
pred

array([318436.13541667])